 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Framework</h2>
      <i class="devicon-spring-plain colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <p>Spring for Web backend, bootstrap for Web Frontend.</p>
    </div>
    <div class="tech">
      <h2>Language</h2>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-cplusplus-line"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <p>현재 코딩 테스트 준비 겸 알고리즘은 C++로,<br> Spring을 활용한 Backend는 Java로 진행중입니다.
        <br>파이썬은 위 둘보다는 조금 떨어집니다.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-intellij-plain-wordmark colored"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <p>Backend는 intelliJ로,<br> 이 외의 알고리즘 등은 Visual Studio를 활용합니다.</p>
    </div>
</div>
