<div class="user-details">
    <h1> Social </h1>
</div>
<div class="user-projects">
    <div class="contents">
        <h3>Github</h3>
        <a href="https://github.com/Jun2-Lee">
            <img src="/assets/img/github.svg" width="30%" height="30%"/>
            <ul>
                <li>https://github.com/Jun2-Lee</li>
            </ul>
        </a>
        <p>깃허브 입니다.</p>
    </div>

    <div class="contents-right">
        <h3>velog</h3>
        <a href="https://velog.io/@abc980823">
            <img src="/assets/img/velog.svg" width="30%" height="30%"/>
            <ul>
                <li>https://velog.io/@abc980823</li>
            </ul>
        </a>
        <p>배운 것을 기록하자.</p>
    </div>
</div>
<div class="user-projects">
    <div class="contents">
        <h3>PR_page</h3>
        <a href="https://jun2-lee.github.io/">
            <img src="/assets/img/lovely.png" width="30%" height="30%"/>
            <ul>
                <li>https://jun2-lee.github.io/</li>
            </ul>
        </a>
        <p>한 건 없지만.. PR 페이지입니다.</p>
    </div>
  
    <div class="contents-right">
        <h3>instagram</h3>
        <a href="https://www.instagram.com/jun.__.2_/">
            <img src="/assets/img/instagram.svg" width="30%" height="30%"/>
            <ul>
                <li>https://www.instagram.com/jun.__.2_/</li>
            </ul>
        </a>
        <p>소소하고 행복한 일상을 기록하는 곳입니다.</p>
    </div>
</div>